@import 'src/assets/styles/variables';

.loaderWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.listCallsWrapper {
	border-radius: 8px;
	background-color: $white;
	padding: 24px 0px 52px;

	padding-left: 40px;
}

.navList {
	display: flex;
	padding: 0px 40px 20px 0px;
}

.navListColumn {
	font-size: 14px;
	line-height: 20.72px;
	color: $marine;
	opacity: 87%;
}

.navListType,
.itemType {
	max-width: 54px;
	width: 100%;
}

.navListTime,
.itemTime {
	max-width: 88px;
	width: 100%;
}

.navListTime {
	display: flex;
	align-items: flex-start;
}

.navListEmployee,
.itemEmployee {
	max-width: 129px;
	width: 100%;
}

.navListCall,
.itemCall {
	max-width: 325px;
	width: 100%;
}

.navListSource,
.itemSource {
	max-width: 214px;
	width: 100%;
}

/* .navListEstimation,
.itemEstimation {
	max-width: 461px;
	width: 100%;
} */

.navListDuration,
.itemDuration {
	max-width: 461px;
	width: 100%;

	display: flex;
	justify-content: flex-end;
}

.navListDuration {
	display: flex;
	align-items: flex-start;
}

.listCalls {
}

.listCallsItem {
	display: flex;
	padding: 20px 40px 20px 0px;
	border-top: 1px solid $grey-light;

	transition: background-color 0.15s ease-in-out;
	cursor: pointer;
}

.listCallsItem:hover {
	background-color: #f8fafd;
}

.itemTypeCallIcon {
	width: 24px;
	height: 24px;
}

.itemAvatar {
	width: 32px;
	height: 32px;
}

.itemTime,
.itemCall,
.itemDuration,
.itemSource {
	font-size: 15px;
	line-height: 21px;
}

.itemTime,
.itemCall,
.itemDuration {
	color: $blue-dark;
}

.itemSource {
	color: $marine;
}

.itemEstimationBlock {
	width: 70px;
	height: 26px;

	border-radius: 4px;
	padding: 6px 8px;

	font-size: 14px;
	line-height: 14px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.itemEstimationSuccess {
	color: $green;
	border: 1px solid $green;
	background-color: $green-light;
}

.itemEstimationFailure {
	color: $red;
	border: 1px solid $red;
	background-color: $red-light;
}

.itemDuration {
	display: flex;
	align-items: center;
}

.playButton,
.pauseButton {
	margin: 0 8px;
	width: 24px;
	height: 24px;

	background-repeat: no-repeat;
	background-position: center;
	background-image: url('../../../../../public/images/play.svg');
}

.durationBtn {
	width: 24px;
	height: 24px;

	background-repeat: no-repeat;
	background-position: center;
}

.durationDownArrow {
	background-image: url('../../../../../public/images/downArrow.svg');
}

.durationUpArrow {
	background-image: url('../../../../../public/images/upArrow.svg');
}

@media (max-width: 1200px) {
	.navListCall,
	.itemCall {
		max-width: 200px;
		width: 100%;
	}

	.navListSource,
	.itemSource {
		max-width: 120px;
		width: 100%;
	}
}

@media (max-width: 1050px) {
	.navListType,
	.itemType {
		max-width: 40px;
		width: 100%;
	}

	.navListTime,
	.itemTime {
		max-width: 70px;
		width: 100%;
	}

	.navListEmployee,
	.itemEmployee {
		max-width: 100px;
		width: 100%;
	}
}

@media (max-width: 950px) {
	.navListEmployee,
	.itemEmployee {
		max-width: 80px;
		width: 100%;
	}

	.navListCall,
	.itemCall {
		max-width: 250px;
		width: 100%;
	}

	.navListSource,
	.itemSource {
		max-width: 100px;
		width: 100%;
	}

	.navListDuration,
	.itemDuration {
		max-width: 360px;
		width: 100%;
	}
}

@media (max-width: 880px) {
	.itemTime,
	.itemCall,
	.itemDuration,
	.itemSource {
		font-size: 13px;
		line-height: 21px;
	}
}

@media (max-width: 780px) {
	.navListCall,
	.itemCall {
		max-width: 100px;
		width: 100%;
	}
}

@media (max-width: 670px) {
	.listCallsWrapper {
		padding-left: 10px;
	}

	.listCallsItem {
		padding: 20px 15px 20px 0px;
	}

	.navList {
		display: flex;
		padding: 0px 15px 20px 0px;
	}

	.itemEstimationColumn {
		max-width: 100px;
		width: 100%;
	}
}

@media (max-width: 620px) {
	.navListEstimation,
	.navListSource,
	.itemEstimationBlock,
	.itemSource {
		display: none;
	}
}

@media (max-width: 450px) {
	.navListEmployee,
	.itemEmployee {
		display: none;
	}
}
