@import 'src/assets/styles/variables';

.mainWrapper {
	position: relative;
	min-height: 100%;

	.contentWrapper {
		display: flex;
		flex-direction: column;

		max-width: $desktop;
		width: 100%;

		padding: 25px 40px 210px 40px;
		margin: 0 auto;
	}
}

@media (max-width: 780px) {
	.mainWrapper {
		.contentWrapper {
			padding: 25px 10px 100px 10px;
		}
	}
}
