@import 'src/assets/styles/variables';

.filterDays {
	display: flex;
	align-items: center;

	position: relative;
}

.daysBtn {
	font-size: 14px;
	line-height: 16px;
	color: #005ff8;
	opacity: 87%;
	margin: 0px 10px;

	display: flex;
	align-items: center;
}

.iconCalendar {
	width: 16px;
	height: 18px;

	background-image: url('../../../../../../public/images/iconCalendar.svg');
	background-repeat: no-repeat;
	background-position: center;
}

.iconCalendar:hover {
	background-image: url('../../../../../../public/images/iconCalendarBlue.svg');
	transition: background-image 0.2s ease-in-out;
}

.daysMount {
	margin-left: 8px;
	color: $blue;
}

.filterBtn {
	width: 24px;
	height: 24px;

	background-repeat: no-repeat;
	background-position: center;
}

.filterLeftBtn {
	transform: rotate(90deg);
	background-image: url('../../../../../../public/images/downArrow.svg');
	transition: background-image 0.2s ease-in-out;
}

.filterLeftBtn:hover {
	background-image: url('../../../../../../public/images/downArrowBlue.svg');
}

.filterRightBtn {
	transform: rotate(90deg);
	background-image: url('../../../../../../public/images/upArrow.svg');
	transition: background-image 0.2s ease-in-out;
}

.filterRightBtn:hover {
	background-image: url('../../../../../../public/images/upArrowBlue.svg');
}
