@import 'src/assets/styles/variables';

.filterWrapper {
	display: flex;
	justify-content: space-between;

	margin-bottom: 16px;
}

.filterType {
	font-size: 14px;
	line-height: 20.72px;
	color: $marine;
	opacity: 87%;
}

.filterDays {
	font-size: 14px;
	line-height: 20.72px;
	color: $marine;
	opacity: 87%;
}
