@import 'src/assets/styles/variables';

.filterWrapper {
	display: flex;
	justify-content: space-between;
}

/* .filterType {
	font-size: 14px;
	line-height: 20.72px;
	color: $marine;
	opacity: 87%;
} */
