// main colors
$white: #ffffff;
$black: #000000;
$grey: #f1f4f9;

// extra colors
$blue: #002cfb;
$blue-dark: #122945;
$blue-light: #eaf0fa;
$grey-light: #eaf0fa;
$green: #00a775;
$green-light: #dbf8ef;
$red: #ea1a4f;
$red-light: #fee9ef;
$marine: #5e7793;
$blue-medium: #122945;

// fonts
$default-font: 'Inter', sans-serif;

// shadow
$box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);

$desktop: 1440px;
$tablet: 880px;
$mobile: 480px;
