// main colors
$accent: #029491;
$white: #ffffff;
$black: #000000;

// extra colors
$yellow: #ffb64f;
$accent-light: #7ce3e1;
$blue: #5970ff;
$green: #8ac540;
$grey: #c7c7c7;

// fonts
$default-font: 'Inter', sans-serif;

// shadow
$box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);

$desktop: 1440px;
$tablet: 880px;
$mobile: 480px;